@font-face {
    font-family: 'caviar_dreams';
    src : url("../../data/CaviarDreams.ttf") format('truetype');
}

@font-face {
    font-family: 'quicksand';
    src : url("../../data/Quicksand.otf") format('opentype');
}

body {
    font-family: 'quicksand', 'caviar_dreams', Arial, serif;
    font-size : 1em;
    width : 400px;
    height : 600px;
    background-image : url("../../data/fond_popup.png");
    background-color : rgb(0, 67, 101);
    background-repeat : no-repeat;
    margin:0px;
    padding-top:5px;
    overflow : hidden;
}

hr { 
    border: 0;
    padding: 0px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

l-text {
    margin-left: 30px;
}

line {
    white-space: nowrap;
}

line childElements {
    display : inline-block; 
}

#site_button {
    background-color: #83acbf;
    cursor : pointer;
}

button[type=button] {
    font-family: 'quicksand', 'caviar_dreams', Arial, serif;
    cursor : pointer;
    width : 110px;
    height : 23px;
    background-image : url("../../data/bouton2.png");
    background-color : transparent;
    background-repeat : no-repeat;
    background-size : 100% 100%;
    border : 0px;
}
